@model Tuple<UI.DataService.Bank, List<UI.DataService.Customer>, List<UI.DataService.Employee>>

@{
    ViewBag.Title = "BankData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Bank Data for @Model.Item1.Name</h2>
<hr />

    <div class="row container">
        <div class=" col">
            @Html.Partial("CustomersofBank", Model.Item2)
        </div>
        <div class=" col col-7">
            @Html.Partial("EmployeesofBank", Model.Item3)
        </div>
    </div>
