
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>
<div>
    <h1>Hello! Choose 1!</h1>
    @Html.ActionLink("I'm a Bank", "SelectBank")
    @Html.ActionLink("I'm a Customer", "SelectCustomer")
</div>

