@model IEnumerable<UI.DataService.Bank>

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @for (int i = 0; i < Model.Count(); ++i)
    {
        if (i % 2 == 0)
        {
            <div class="row">
                <div class="col">
                    @Html.ActionLink(Model.ElementAt(i).Name, "GetBankData", new { id = Model.ElementAt(i).Id })
                </div>
                <div class="col">
                    @Html.ActionLink(Model.ElementAt(i+1).Name, "GetBankData", new { id = Model.ElementAt(i+1).Id })

                </div>
            </div>
        }
        else
        {
            continue;
        }

    }
</div>
