@model IEnumerable<UI.DataService.Bank>

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @for (int i = 0; i < Model.Count(); ++i)
    {
        if (i % 2 == 0)
        {
            <div class="row row-cols-2 justify-content-center start-50">
                <div class="col-2 ">
                    @Html.ActionLink(Model.ElementAt(i).Name,
                        "GetBankData", new { id = Model.ElementAt(i).Id },
                        new { @class = "position-relative text-center nav-link" })
                </div>

                <div class="col-2 ">
                    @Html.ActionLink(Model.ElementAt(i + 1).Name,
                        "GetBankData", new { id = Model.ElementAt(i + 1).Id },
                        new { @class = "position-relative text-center nav-link" })
                </div>
            </div>
        }
        else
        {
            continue;
        }

    }
</div>
